{
  "openapi": "3.0.2",
  "info": {
    "title": "Auth API",
    "description": "Authorization and authentication API for EXOsoft products (DCI, VM)",
    "version": "4.0.0",
    "contact": {
      "email": "help@ispsystem.com"
    }
  },
  "servers": [
    {
      "url": "https://my.vepp.com/src/v4"
    },
    {
      "url": "https://localhost:8080/src/v4"
    },
    {
      "url": "http://localhost:7000/"
    }
  ],
  "paths": {
    "/public/roles": {
      "get": {
        "deprecated": true,
        "summary": "Get list of additional role`s names",
        "description": "It is not so deprecated as experimental. OpenAPI has no property to show this. Basically auth service does not know anything about builtin roles so you have to add them to environment variable BUILTIN_ROLES. For example, it's value could be \"@admin,@user\".",
        "tags": [
          "Permissions"
        ],
        "responses": {
          "200": {
            "description": "You will recieve the list of the roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "@admin_support"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/role": {
      "get": {
        "summary": "Get list of custom roles",
        "description": "That handler is used to get full information about all custom roles",
        "operationId": "GetRoleList",
        "tags": [
          "Role"
        ],
        "responses": {
          "200": {
            "description": "You wall recieve the list of all existing custom roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Role unique identifier",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "description": "Role name for inner usage",
                            "example": "@admin_accounts"
                          },
                          "human_name": {
                            "type": "string",
                            "description": "Role name for human beings",
                            "example": "Admin of accounts"
                          },
                          "human_descr": {
                            "type": "string",
                            "description": "Role description for human beings",
                            "example": "Such admins could create new users"
                          },
                          "data": {
                            "type": "object",
                            "description": "The role data",
                            "properties": {
                              "GET": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "@common_read"
                                }
                              },
                              "POST": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "@common_write"
                                }
                              },
                              "DELETE": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "@common_write"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a custom role",
        "description": "Add a custom role in the system",
        "operationId": "CreateRole",
        "tags": [
          "Role"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "data"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Role name for inner usage",
                    "example": "@admin_accounts",
                    "pattern": "^@\\w+"
                  },
                  "human_name": {
                    "type": "string",
                    "description": "Role name for human beings",
                    "example": "Admin of accounts"
                  },
                  "human_descr": {
                    "type": "string",
                    "description": "Role description for human beings",
                    "example": "Such admins could create new users"
                  },
                  "data": {
                    "type": "object",
                    "description": "Created roles data",
                    "properties": {
                      "GET": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "@common_read"
                        }
                      },
                      "POST": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "@common_write"
                        }
                      },
                      "DELETE": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "@common_write"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Required object was created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "Unique object id"
                    },
                    "task": {
                      "type": "string",
                      "description": "Task id. Most objects are not created immedeatly. In most cases when you recieve result only record in database was created. To finish object creation system will create 'task'. Only when task will be finished object will be ready. You can wait task using its Id or watching for object itself (it is prefered way). For details you should read Notifier documentation"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/role/{role_id}": {
      "get": {
        "summary": "Get information about selected custom role",
        "description": "This handle returns same information like /role does",
        "operationId": "GetRole",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "role_id",
            "required": true,
            "description": "Role unique identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Required object does not exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "The role information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Role unique identifier",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "Role name for inner usage",
                      "example": "@admin_accounts"
                    },
                    "human_name": {
                      "type": "string",
                      "description": "Role name for human beings",
                      "example": "Admin of accounts"
                    },
                    "human_descr": {
                      "type": "string",
                      "description": "Role description for human beings",
                      "example": "Such admins could create new users"
                    },
                    "data": {
                      "type": "object",
                      "description": "The role data",
                      "properties": {
                        "GET": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "@common_read"
                          }
                        },
                        "POST": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "@common_write"
                          }
                        },
                        "DELETE": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "@common_write"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Edit a custom role",
        "description": "Edit a existed custom role in the system",
        "operationId": "EditRole",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "role_id",
            "required": true,
            "description": "Role unique identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "human_name": {
                    "type": "string",
                    "description": "Role name for human beings",
                    "example": "Admin of accounts"
                  },
                  "human_descr": {
                    "type": "string",
                    "description": "Role description for human beings",
                    "example": "Such admins could create new users"
                  },
                  "data": {
                    "type": "object",
                    "description": "Created roles data",
                    "properties": {
                      "GET": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "@common_read"
                        }
                      },
                      "POST": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "@common_write"
                        }
                      },
                      "DELETE": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "@common_write"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a custom role",
        "description": "Delete a existed custom role in the system",
        "operationId": "DeleteRole",
        "tags": [
          "Role"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "role_id",
            "required": true,
            "description": "Role unique identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Required object does not exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/self/handles": {
      "get": {
        "summary": "Get available handlers for current user",
        "operationId": "SelfHandles",
        "tags": [
          "Permissions"
        ],
        "responses": {
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Get available handlers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "handles": {
                      "type": "object",
                      "example": {
                        "auth_v4": {
                          "delete": [
                            "/user/{user_id}"
                          ],
                          "get": [
                            "/user/{user_id}"
                          ],
                          "post": [
                            "/user/{user_id}"
                          ]
                        }
                      },
                      "additionalProperties": true
                    },
                    "user_id": {
                      "type": "integer",
                      "description": "User unique identifier",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/self/subroles": {
      "get": {
        "summary": "Get current user subroles",
        "operationId": "SelfSubroles",
        "tags": [
          "Role"
        ],
        "responses": {
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Get user subroles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subroles": {
                      "type": "array",
                      "description": "List of user subroles",
                      "items": {
                        "type": "string",
                        "example": "@common_read"
                      }
                    },
                    "user_id": {
                      "type": "integer",
                      "description": "User unique identifier",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/token": {
      "post": {
        "summary": "Authenticate user using username and password",
        "description": "Using this handler you just authenticate user in the system",
        "operationId": "Auth",
        "tags": [
          "Token"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User name. We are using user E-Mail as login",
                    "example": "admin@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "User password"
                  },
                  "confirmed": {
                    "type": "boolean",
                    "description": "If token is not confirmed you must confirm it using handle /public/tokan/confirm"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New token was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "New token id. It can be used only for deletion"
                    },
                    "token": {
                      "type": "string",
                      "description": "New token. It should be used as security token for all other requests. Tokens do not saved in database as plaintext and can not be recovered if you lose it. You will have to make new one"
                    },
                    "expires_at": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the token lifetime",
                      "example": "2023-03-17 12:00:00"
                    },
                    "confirmed": {
                      "type": "boolean",
                      "example": true,
                      "description": "The user has to be validated by 2FA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Current user does not allowed to access using current IP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "summary": "Create long life or infinit token",
        "description": "Such tokens should be used for integration purpose only",
        "operationId": "PostToken",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expires_at": {
                    "type": "string",
                    "format": "datetime",
                    "description": "Token exparation date",
                    "example": "2022-01-01 00:00:00"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Any comment you want to add for new token",
                    "example": "Integration with google :)"
                  }
                },
                "required": [
                  "expires_at"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New token was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "New token id. It can be used only for deletion"
                    },
                    "token": {
                      "type": "string",
                      "description": "New token. It should be used as security token for all other requests. Tokens do not saved in database as plaintext and can not be recovered if you lose it. You will have to make new one"
                    },
                    "expires_at": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the token lifetime",
                      "example": "2023-03-17 12:00:00"
                    },
                    "confirmed": {
                      "type": "boolean",
                      "example": true,
                      "description": "The user has to be validated by 2FA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token/{token_id}": {
      "delete": {
        "summary": "Remove token",
        "description": "Most tokens has limited lifetime. But if you want to revoke access for some integrated applications or users you can manually remove their tokens",
        "operationId": "DeleteToken",
        "tags": [
          "Token"
        ],
        "security": [
          {
            "Token": []
          },
          {
            "Internal": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token_id",
            "required": true,
            "description": "Token id or value",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Required object does not exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}/su": {
      "post": {
        "summary": "Create new token for trustee",
        "description": "Makes possible to act as specified user. You should be administrator or trustee for this user",
        "operationId": "UserSu",
        "tags": [
          "Token"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          }
        ],
        "responses": {
          "201": {
            "description": "New token was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "New token id. It can be used only for deletion"
                    },
                    "token": {
                      "type": "string",
                      "description": "New token. It should be used as security token for all other requests. Tokens do not saved in database as plaintext and can not be recovered if you lose it. You will have to make new one"
                    },
                    "expires_at": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the token lifetime",
                      "example": "2023-03-17 12:00:00"
                    },
                    "confirmed": {
                      "type": "boolean",
                      "example": true,
                      "description": "The user has to be validated by 2FA"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Required object does not exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/self/back": {
      "post": {
        "summary": "Get back to trusteee account",
        "description": "Makes possible to return to previous level after making SU",
        "operationId": "SelfBack",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {},
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New token was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "New token id. It can be used only for deletion"
                    },
                    "token": {
                      "type": "string",
                      "description": "New token. It should be used as security token for all other requests. Tokens do not saved in database as plaintext and can not be recovered if you lose it. You will have to make new one"
                    },
                    "expires_at": {
                      "type": "string",
                      "nullable": true,
                      "description": "End of the token lifetime",
                      "example": "2023-03-17 12:00:00"
                    },
                    "confirmed": {
                      "type": "boolean",
                      "example": true,
                      "description": "The user has to be validated by 2FA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "Get list of the users",
        "description": "Returns complete list of the users. To limit it you can use standard filtering and pagination query string syntax",
        "operationId": "UserList",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "List field name. Gets set of unique field values. This parameter used to get values for select input in filtering forms. Filtering, pagination and order parameters will be ignored",
            "example": "state"
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            },
            "description": "Filtering rules for the list. You can use any list field name and set of logical operations (OR, AND, NOT, EQ(=), NE(<>), GT(>), GE(>=), LT(<), LE(<=) and CP(LIKE)) for making filtering conditions",
            "example": "id GT 100 AND (name CP 'alex%' OR name CP 'georg')"
          },
          {
            "in": "query",
            "name": "orderby",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Sorting rules for the list. You can use any list field name and optional ordering parameter (`ASC` and `DESC`). `ASK` is the default so you needent to specify it",
            "style": "form",
            "explode": false,
            "example": "name, age DESC"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "Limit row count in result. It consists from one or two parts separeted by ','. First (optional) - offset, sets first row number to return (counting from 1). Second - size, set maximum row count in result",
            "example": "10,20"
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "string",
              "enum": [
                "select",
                "save",
                "delete"
              ]
            },
            "deprecated": true,
            "description": "You can save your query params `orderby` and `where` or you can use saved one"
          }
        ],
        "responses": {
          "200": {
            "description": "You will recieve the list of the users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique internal user Id",
                            "example": 1
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Unique user Id. It should be used for all external links",
                            "example": "295cfef4-5eb4-4bb5-aea7-24c6d6990648"
                          },
                          "email": {
                            "type": "string",
                            "description": "User E-Mail. It is also used as login name",
                            "example": "user@example.com"
                          },
                          "full_name": {
                            "type": "string",
                            "description": "User first and last name",
                            "example": "John Smith"
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "Role name",
                              "example": "@user"
                            },
                            "description": "User roles for 'src' service"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active",
                              "disabled"
                            ],
                            "description": "User state",
                            "example": "active"
                          },
                          "auth_source": {
                            "type": "string",
                            "enum": [
                              "local",
                              "ldap"
                            ],
                            "description": "Auth source for authentication",
                            "example": "local"
                          },
                          "email_confirm": {
                            "type": "boolean",
                            "description": "Is email confirmed"
                          },
                          "lang": {
                            "description": "The user interface language",
                            "type": "string",
                            "example": "en"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Custom timezone for current user"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new user/administrator",
        "description": "Register new user in the system. User will not be able to login before he/her will be granted access to some instance",
        "operationId": "CreateUser",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 255,
                    "description": "User E-Mail will be used as login name",
                    "example": "admin@example.com"
                  },
                  "full_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "User first and last name",
                    "example": "John Smith"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "writeOnly": true,
                    "minLength": 8,
                    "description": "We save only hash so nobody can read it. But you can restore your password using E-Mail"
                  },
                  "roles": {
                    "description": "Set of the roles for \"src\" service",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "default": [
                      "@user"
                    ]
                  },
                  "auth_source": {
                    "type": "string",
                    "default": "local",
                    "enum": [
                      "local",
                      "ldap"
                    ],
                    "description": "Auth source for authentication"
                  },
                  "email_confirm": {
                    "type": "boolean",
                    "default": false,
                    "description": "Is email confirmed"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Custom timezone for current user",
                    "maxLength": 64,
                    "pattern": "^[-A-Za-z0-9]*$",
                    "example": "UTC (any random string)"
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Required object was created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "Unique object id"
                    },
                    "task": {
                      "type": "string",
                      "description": "Task id. Most objects are not created immedeatly. In most cases when you recieve result only record in database was created. To finish object creation system will create 'task'. Only when task will be finished object will be ready. You can wait task using its Id or watching for object itself (it is prefered way). For details you should read Notifier documentation"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instance/{instance_id}/user": {
      "get": {
        "summary": "Get list of the instance users",
        "description": "Returns complete list of the instance users. To limit it you can use standard filtering and pagination query string syntax",
        "operationId": "InstanceUserList",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance_id",
            "required": true,
            "description": "Existing instance ID. Minimal value - 1.",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "List field name. Gets set of unique field values. This parameter used to get values for select input in filtering forms. Filtering, pagination and order parameters will be ignored",
            "example": "state"
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            },
            "description": "Filtering rules for the list. You can use any list field name and set of logical operations (OR, AND, NOT, EQ(=), NE(<>), GT(>), GE(>=), LT(<), LE(<=) and CP(LIKE)) for making filtering conditions",
            "example": "id GT 100 AND (name CP 'alex%' OR name CP 'georg')"
          },
          {
            "in": "query",
            "name": "orderby",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Sorting rules for the list. You can use any list field name and optional ordering parameter (`ASC` and `DESC`). `ASK` is the default so you needent to specify it",
            "style": "form",
            "explode": false,
            "example": "name, age DESC"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "Limit row count in result. It consists from one or two parts separeted by ','. First (optional) - offset, sets first row number to return (counting from 1). Second - size, set maximum row count in result",
            "example": "10,20"
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "string",
              "enum": [
                "select",
                "save",
                "delete"
              ]
            },
            "deprecated": true,
            "description": "You can save your query params `orderby` and `where` or you can use saved one"
          }
        ],
        "responses": {
          "200": {
            "description": "You will recieve the list of the instance users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "description": "Unique internal user Id",
                            "example": 1
                          },
                          "uuid": {
                            "type": "string",
                            "description": "Unique user Id. It should be used for all external links",
                            "example": "295cfef4-5eb4-4bb5-aea7-24c6d6990648"
                          },
                          "email": {
                            "type": "string",
                            "description": "User E-Mail. It is also used as login name",
                            "example": "user@example.com"
                          },
                          "full_name": {
                            "type": "string",
                            "description": "User first and last name",
                            "example": "John Smith"
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "Role name",
                              "example": "@user"
                            },
                            "description": "User roles for 'src' service"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active",
                              "disabled"
                            ],
                            "description": "User state",
                            "example": "active"
                          },
                          "auth_source": {
                            "type": "string",
                            "enum": [
                              "local",
                              "ldap"
                            ],
                            "description": "Auth source for authentication",
                            "example": "local"
                          },
                          "email_confirm": {
                            "type": "boolean",
                            "description": "Is email confirmed"
                          },
                          "lang": {
                            "description": "The user interface language",
                            "type": "string",
                            "example": "en"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Custom timezone for current user"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/self/password": {
      "post": {
        "summary": "Change current user password",
        "description": "User can change password for himself only if he/she can provide current one. Or he/she can use password recovery procedure and change it via E-Mail",
        "operationId": "SelfPassword",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "old_password": {
                    "type": "string",
                    "description": "Old user password"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "description": "New password"
                  }
                },
                "required": [
                  "password",
                  "old_password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}/password": {
      "post": {
        "summary": "Change user password",
        "description": "Administrator can change password for any user in the system",
        "operationId": "ChangePassword",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "description": "New password"
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}/lock": {
      "post": {
        "summary": "Add blocking dependency",
        "description": "User with as least one active dependency cannot be deleted",
        "operationId": "UserLock",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "Internal": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service": {
                    "type": "string",
                    "description": "Service name that have made this request"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description"
                  }
                },
                "required": [
                  "service",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}/lock/{service}": {
      "delete": {
        "summary": "Remove blocking dependency",
        "description": "Release user. Service should call this handler if it have locked this user before and does not need it existence any more",
        "operationId": "UserUnlock",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "Internal": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          },
          {
            "in": "path",
            "name": "service",
            "required": true,
            "description": "Service name was used to create blocking dependency",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}": {
      "post": {
        "summary": "Edit selected user",
        "operationId": "EditUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "User first and last name",
                    "example": "John Smith"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  },
                  "auth_source": {
                    "type": "string",
                    "enum": [
                      "local",
                      "ldap"
                    ],
                    "description": "Auth source for authentication"
                  },
                  "email_confirm": {
                    "type": "boolean",
                    "description": "Is email confirmed"
                  },
                  "lang": {
                    "description": "The user interface language",
                    "type": "string",
                    "enum": [
                      "en",
                      "ru"
                    ],
                    "example": "en"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Custom timezone for current user",
                    "maxLength": 64,
                    "pattern": "^[-A-Za-z0-9]*$",
                    "example": "UTC (any random string)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Required object does not exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get user details",
        "operationId": "GetUser",
        "description": "Getting user details by user identifier",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          }
        ],
        "responses": {
          "200": {
            "description": "The user details was get successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "Unique internal user Id",
                      "example": 1
                    },
                    "uuid": {
                      "type": "string",
                      "description": "Unique user Id. It should be used for all external links",
                      "example": "295cfef4-5eb4-4bb5-aea7-24c6d6990648"
                    },
                    "email": {
                      "type": "string",
                      "description": "User E-Mail. It is also used as login name",
                      "example": "user@example.com"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "User first and last name",
                      "example": "John Smith"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Role name",
                        "example": "@user"
                      },
                      "description": "User roles for 'src' service"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "active",
                        "disabled"
                      ],
                      "description": "User state",
                      "example": "active"
                    },
                    "auth_source": {
                      "type": "string",
                      "enum": [
                        "local",
                        "ldap"
                      ],
                      "description": "Auth source for authentication",
                      "example": "local"
                    },
                    "email_confirm": {
                      "type": "boolean",
                      "description": "Is email confirmed"
                    },
                    "lang": {
                      "description": "The user interface language",
                      "type": "string",
                      "example": "en"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "Custom timezone for current user"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Required object does not exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Completely delete user from the system",
        "description": "User must not be owner of any instance in system. User can not delete himself",
        "operationId": "UserDelete",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                {
                  "type": "number"
                }
              ]
            },
            "description": "You can use user Id or user E-Mail"
          }
        ],
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Provided parameters does not match with schema",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Error description on english"
                        },
                        "code": {
                          "type": "integer",
                          "description": "Error code. It was designed to be unique for each place where an error can occur"
                        }
                      }
                    },
                    {
                      "properties": {
                        "field": {
                          "type": "string",
                          "description": "Field name that have filed the check"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Current user have no rights to call this handler or view selected object properties",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/self": {
      "post": {
        "summary": "Edit yourself",
        "operationId": "EditSelf",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "User first and last name",
                    "example": "John Smith"
                  },
                  "lang": {
                    "type": "string",
                    "description": "The user interface language",
                    "enum": [
                      "en",
                      "ru"
                    ],
                    "example": "en"
                  },
                  "timezone": {
                    "pattern": "^[-_A-Za-z0-9\\/]+$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request complete successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Provided token was incorrect or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error description on english"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Error code. It was designed to be unique for each place where an error can occur"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get yourself details",
        "operationId": "GetSelf",
        "description": "Getting details about yourself",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "The user details was get successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "Unique internal user Id",
                      "example": 1
                    },
                    "uuid": {
                      "type": "string",
                      "description": "Unique user Id. It should be used for all external links",
                      "example": "295cfef4-5eb4-4bb5-aea7-24c6d6990648"
                    },
                    "email": {
                      "type": "string",
                      "description": "User E-Mail. It is also used as login name",
                      "example": "user@example.com"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "User first and last name",
                      "example": "John Smith"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Role name",
                        "example": "@user"
                      },
                      "description": "User roles for 'src' service"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "active",
                        "disabled"
                      ],
                      "description": "User state",
                      "example": "active"
                    },
                    "auth_source": {
                      "type": "string",
                      "enum": [
                        "local",
                        "ldap"
                      ],
                      "description": "Auth source for authentication",
[...]
